body
	min-width: 320px
	font-family: $Futura
	font-weight: 500
	font-size: 16px
	color: $gray
	line-height: 1.88
	+font-smoothing
	transition: opacity .2s, visibility .2s
	opacity: 0
	visibility: hidden
	&.is-animated
		opacity: 1
		visibility: visible
	&.is-hidden
		+sm
			position: fixed
			top: 0
			left: 0
			width: 100%
	+sm
		font-size: 13px
		line-height: 1.54

.out
	position: relative
	overflow: hidden

.inner
	max-width: 1060px
	padding:  0 30px
	margin: 0 auto
	+sm
		padding: 0 15px

.in
	max-width: 1260px
	padding: 0 30px
	margin: 0 auto 
	+sm
		padding: 0 15px 

.title-lg
	font-size: 50px
	font-weight: 500
	color: $white
	text-transform: uppercase
	line-height: 1.2 
	+sm
		font-size: 25px
	&_futura-futuris
		font-family: $Futuras

.subtitle-md
	display: inline-block
	color: $black
	font-weight: 500
	font-size: 30px
	text-transform: uppercase
	position: relative
	line-height: 1.2
	+sm
		font-size: 15px
	&_lucida
		font-family: $Lucida
		font-weight: 700
	&_futura-futuris
		font-family: $Futuras
	&:before
		content: ''
		position: absolute
		top: 50%
		right: -100px 
		transform: translateY(-50%)
		height: 2px
		width: 80px
		background-color: #d4d4d4
		+sm
			width: 40px
			right: -50px
	&:after
		content: ''
		position: absolute
		top: 50%
		left: -100px
		transform: translateY(-50%)
		height: 2px
		width: 80px
		background-color: #d4d4d4
		+sm
			width: 40px
			left: -50px

.title-sm
	color: $black
	font-size: 24px
	font-weight: 500
	font-family: $Futuras
	line-height: 1.5 
	+sm
		font-size: 15px
		line-height: 1.2
	&_white
		color: $white
		text-transform: uppercase

.top-block
	background-position: 50% 50%
	background-size: cover
	background-repeat: no-repeat
	position: relative
	&__title-lg
		text-align: center
		padding: 120px 0
		+sm
			padding: 65px 0

.link
	text-decoration: none
	font-size: 20px
	font-weight: 500
	color: $blue
	line-height: 1.2
	margin-top: 20px
	display: inline-block
	+sm
		display: none

.mob-show
	display: none
	+sm
		display: block
