---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin banquets -->
<div class="banquets">
	<div class="banquets__top-block top-block" style="background-image: url(http://via.placeholder.com/1140x300);">
		<div class="top-block__inner inner">
			<h1 class="top-block__title-lg title-lg">Банкеты</h1>
		</div>
	</div>
	<div class="delivery__in in">
		<div class="banquets__content content">
			<div class="content__row">
				<div class="content__col content__col_sm">
					<h2 class="content__subtitle-md subtitle-md">Банкеты</h2>
					<div class="content__descr">
						<p>
							If you are in the market for kitchenware, you may be considering making the purchase of designer kitchenware products. As you debate the purchase of designer kitchenware products, you may be wondering what are some of the pros and cons to making the purchase of these types of products in this day and age. As with so
						</p>
					</div>
				</div>
				<div class="content__col">
					<div class="content__list">
						<div class="content__item content__item_bigh">
							<a href="#" class="content__bg" style="background-image: url(http://via.placeholder.com/290x383);">
							</a>
						</div>
						<div class="content__item content__item_bigh">
							<a href="#" class="content__bg" style="background-image: url(http://via.placeholder.com/290x383);"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="content__row">
				<div class="content__col content__col_sm">
					<h2 class="content__subtitle-md subtitle-md">Зал 1</h2>
					<div class="content__descr">
						<p>
							If you are in the market for kitchenware, you may be considering making the purchase of designer kitchenware products. As you debate the purchase of designer kitchenware products, you may be wondering what are some of the pros and cons to making the purchase of these types of products in this day and age. As with so
						</p>
					</div>
				</div>
				<div class="content__col">
					<div class="content__list">
						<div class="content__item content__item_bigh">
							<a href="#" class="content__bg" style="background-image: url(http://via.placeholder.com/600x383);">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="content__row">
				<div class="content__col content__col_sm">
					<h2 class="content__subtitle-md subtitle-md">Зал 2</h2>
					<div class="content__descr">
						<p>
							If you are in the market for kitchenware, you may be considering making the purchase of designer kitchenware products. As you debate the purchase of designer kitchenware products, you may be wondering what are some of the pros and cons to making the purchase of these types of products in this day and age. As with so
						</p>
					</div>
				</div>
				<div class="content__col">
					<div class="content__list">
						<div class="content__item content__item_bigh">
							<a href="#" class="content__bg" style="background-image: url(http://via.placeholder.com/600x383);">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end banquets -->

{% endblock %}