---
title: Event
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{{ header.block() }}
	
	<div class="event">
		<div class="event__top-block top-block" style="background-image: url(http://via.placeholder.com/1140x300);">
			<div class="top-block__inner inner">
				<h1 class="top-block__title-lg title-lg title-lg_futura-futuris">События</h1>
			</div>
		</div>
		<div class="event__inner">
			<div class="event__list">
				<div class="event__row">
					<div class="event__item">
						<div class="event__top">
							<div class="event__img" style="background-image: url(https://placeimg.com/640/480/any);"></div>
							<div class="event__info">
								<h3 class="event__title-sm title-sm">How To Set Intentions That Energize You</h3>
							</div>
						</div>
						<div class="event__info">
							<p class="event__date">
								02 Feb 2018
							</p>
						</div>		
					</div>
					<div class="event__item">
						<div class="event__top">
							<div class="event__img" style="background-image: url(https://placeimg.com/640/480/any);"></div>
							<div class="event__info">
								<h3 class="event__title-sm title-sm">How To Set Intentions That Energize You</h3>
							</div>
						</div>
						<div class="event__info">
							<p class="event__date">
								25 Nov 2018
							</p>
						</div>
					</div>
					<div class="event__item">
						<div class="event__top">
							<div class="event__img" style="background-image: url(https://placeimg.com/640/480/any);"></div>
							<div class="event__info">
								<h3 class="event__title-sm title-sm">Dream Interpretation Common Symbols And Their Meanings</h3>
							</div>
						</div>
						<div class="event__info">
							<p class="event__date">
								17 Jan 2018
							</p>
						</div>
					</div>
					<div class="event__item">
						<div class="event__top">
							<div class="event__img" style="background-image: url(https://placeimg.com/640/480/any);"></div>
							<div class="event__info">
								<h3 class="event__title-sm title-sm">Motivational Sayings Ten Great Ones</h3>
							</div>
						</div>
						<div class="event__info">
							<p class="event__date">
								20 Apr 2018
							</p>
						</div>
					</div>
				</div>
				<div class="event__row">
					<div class="event__item">
						<div class="event__top">
							<div class="event__img" style="background-image: url(https://placeimg.com/640/480/any);"></div>
							<div class="event__info">
								<h3 class="event__title-sm title-sm">How To Set Intentions That Energize You</h3>
							</div>
						</div>
						<div class="event__info">
							<p class="event__date">
								25 Mar 2018
							</p>
						</div>		
					</div>
					<div class="event__item">
						<div class="event__top">
							<div class="event__img" style="background-image: url(https://placeimg.com/640/480/any);"></div>
							<div class="event__info">
								<h3 class="event__title-sm title-sm">How To Set Intentions That Energize You</h3>
							</div>
						</div>
						<div class="event__info">
							<p class="event__date">
								01 Sep 2018
							</p>
						</div>
					</div>
					<div class="event__item">
						<div class="event__top">
							<div class="event__img" style="background-image: url(https://placeimg.com/640/480/any);"></div>
							<div class="event__info">
								<h3 class="event__title-sm title-sm">Dream Interpretation Common Symbols And Their Meanings</h3>
							</div>
						</div>
						<div class="event__info">
							<p class="event__date">
								05 Feb 2018
							</p>
						</div>
					</div>
					<div class="event__item">
						<div class="event__top">
							<div class="event__img" style="background-image: url(https://placeimg.com/640/480/any);"></div>
							<div class="event__info">
								<h3 class="event__title-sm title-sm">Motivational Sayings Ten Great Ones</h3>
							</div>
						</div>
						<div class="event__info">
							<p class="event__date">
								11 Dec 2018
							</p>
						</div>
					</div>
				</div>
			</div>			
			<div class="event__btn">
				<a href="#" class="btn">Загрузить еще</a>
			</div>
		</div>
	</div>	

	{% include 'partials/_footer.html' %}

{% endblock %}
