---
title: gallery
---
{% extends "layouts/_layout.html" %}

{% block content %}

{{ header.block() }}

<!-- begin gallery -->
<div class="gallery">
	<div class="gallery__bg-color">
		<div class="gallery__top-block top-block" style="background-image: url(http://via.placeholder.com/1140x300);">
			<div class="top-block__inner inner">
				<h1 class="top-block__title-lg title-lg">Галерея</h1>
			</div>
		</div>
		<div class="gallery__wrap ">
		<!-- begin gallery-tabs -->
			<div class="gallery-tabs" data-tabs>
				<ul class="gallery-tabs__list js-scroll-tabs">
					<li class="gallery-tabs__item is-active" data-tabs-control="tab-1">
						Интерьер
					</li>
					<li class="gallery-tabs__item" data-tabs-control="tab-2">
						Блюда
					</li>
					<li class="gallery-tabs__item" data-tabs-control="tab-3">
						Видео
					</li>
					<li class="gallery-tabs__item" data-tabs-control="tab-4">
						Фотоотчеты
					</li>
				</ul>
				<div class="gallery-tabs__wrap" data-tabs-wrapper>
					<div class="gallery-tabs__container is-open js-slider-wrap" data-tabs-container="tab-1">
						<div class="gallery-tabs__slider slider">
							<div class="slider__row js-slider-single">
								<a data-caption="Learn How To Motivate Yourself" href="http://via.placeholder.com/1750x850" class="photo js-fancybox"  data-fancybox="gallery-interior" style="background-image: url(http://via.placeholder.com/930x328);">
									<span class="photo-text">Learn How To Motivate Yourself</span>
								</a>
								<a data-caption="Learn How To Motivate Yourself" href="http://via.placeholder.com/1750x850" class="photo js-fancybox" data-fancybox="gallery-interior" style="background-image: url(http://via.placeholder.com/930x328);">
									<span class="photo-text">Learn How To Motivate Yourself</span>
								</a>
								<a data-caption="Learn How To Motivate Yourself" href="http://via.placeholder.com/1750x850" class="photo js-fancybox" data-fancybox="gallery-interior" style="background-image: url(http://via.placeholder.com/930x328);">
									<span class="photo-text">Learn How To Motivate Yourself</span>
								</a>
								<a data-caption="Learn How To Motivate Yourself" href="http://via.placeholder.com/1750x850" class="photo js-fancybox" data-fancybox="gallery-interior" style="background-image: url(http://via.placeholder.com/930x328);">
									<span class="photo-text">Learn How To Motivate Yourself</span>
								</a>
								<a data-caption="Learn How To Motivate Yourself" href="http://via.placeholder.com/1750x850" class="photo js-fancybox" data-fancybox="gallery-interior" style="background-image: url(http://via.placeholder.com/930x328);">
									<span class="photo-text">Learn How To Motivate Yourself</span>
								</a>
								<a data-caption="Learn How To Motivate Yourself" href="http://via.placeholder.com/1750x850" class="photo js-fancybox" data-fancybox="gallery-interior" style="background-image: url(http://via.placeholder.com/930x328);">
									<span class="photo-text">Learn How To Motivate Yourself</span>
								</a>
								<a data-caption="Learn How To Motivate Yourself" href="http://via.placeholder.com/1750x850" class="photo js-fancybox" data-fancybox="gallery-interior" style="background-image: url(http://via.placeholder.com/930x328);">
									<span class="photo-text">Learn How To Motivate Yourself</span>
								</a>
							</div>
							<div class="slider__row slider__row_border js-slider-nav">
								<div class="photo-small" style="background-image: url(http://via.placeholder.com/133x78);"></div>
								<div class="photo-small" style="background-image: url(http://via.placeholder.com/133x78);"></div>
								<div class="photo-small" style="background-image: url(http://via.placeholder.com/133x78);"></div>
								<div class="photo-small" style="background-image: url(http://via.placeholder.com/133x78);"></div>
								<div class="photo-small" style="background-image: url(http://via.placeholder.com/133x78);"></div>
								<div class="photo-small" style="background-image: url(http://via.placeholder.com/133x78);"></div>
								<div class="photo-small" style="background-image: url(http://via.placeholder.com/133x78);"></div>
							</div>
						</div>
					</div>
					<div class="gallery-tabs__container js-slider-wrap" data-tabs-container="tab-2">
						<div class="gallery-tabs__slider slider">
							<div class="slider__row js-slider-single">
								<a data-caption="Learn How To Motivate Yourself" href="http://via.placeholder.com/1750x850" class="photo js-fancybox" data-fancybox="gallery-dishes" style="background-image: url(http://via.placeholder.com/930x328);">
									<span class="photo-text">Learn How To Motivate Yourself</span>
								</a>
								<a data-caption="Learn How To Motivate Yourself" href="http://via.placeholder.com/1750x850" class="photo js-fancybox" data-fancybox="gallery-dishes" style="background-image: url(http://via.placeholder.com/930x328);">
									<span class="photo-text">Learn How To Motivate Yourself</span>
								</a>
								<a data-caption="Learn How To Motivate Yourself" href="http://via.placeholder.com/1750x850" class="photo js-fancybox" data-fancybox="gallery-dishes" style="background-image: url(http://via.placeholder.com/930x328);">
									<span class="photo-text">Learn How To Motivate Yourself</span>
								</a>
								<a data-caption="Learn How To Motivate Yourself" href="http://via.placeholder.com/1750x850" class="photo js-fancybox" data-fancybox="gallery-dishes" style="background-image: url(http://via.placeholder.com/930x328);">
									<span class="photo-text">Learn How To Motivate Yourself</span>
								</a>
								<a data-caption="Learn How To Motivate Yourself" href="http://via.placeholder.com/1750x850" class="photo js-fancybox" data-fancybox="gallery-dishes" style="background-image: url(http://via.placeholder.com/930x328);">
									<span class="photo-text">Learn How To Motivate Yourself</span>
								</a>
								<a data-caption="Learn How To Motivate Yourself" href="http://via.placeholder.com/1750x850" class="photo js-fancybox" data-fancybox="gallery-dishes" style="background-image: url(http://via.placeholder.com/930x328);">
									<span class="photo-text">Learn How To Motivate Yourself</span>
								</a>
								<a data-caption="Learn How To Motivate Yourself" href="http://via.placeholder.com/1750x850" class="photo js-fancybox" data-fancybox="gallery-dishes" style="background-image: url(http://via.placeholder.com/930x328);">
									<span class="photo-text">Learn How To Motivate Yourself</span>
								</a>
							</div>
							<div class="slider__row slider__row_border js-slider-nav">
								<div class="photo-small" style="background-image: url(http://via.placeholder.com/133x78);"></div>
								<div class="photo-small" style="background-image: url(http://via.placeholder.com/133x78);"></div>
								<div class="photo-small" style="background-image: url(http://via.placeholder.com/133x78);"></div>
								<div class="photo-small" style="background-image: url(http://via.placeholder.com/133x78);"></div>
								<div class="photo-small" style="background-image: url(http://via.placeholder.com/133x78);"></div>
								<div class="photo-small" style="background-image: url(http://via.placeholder.com/133x78);"></div>
								<div class="photo-small" style="background-image: url(http://via.placeholder.com/133x78);"></div>
							</div>
						</div>
					</div>
					<div class="gallery-tabs__container js-slider-wrap" data-tabs-container="tab-3">
						<div class="gallery-tabs__slider slider">
							<div class="slider__row js-slider-single">
								<a class="video js-fancybox" data-fancybox data-width="100%" data-height="100%" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" style="background-image: url(http://via.placeholder.com/930x328);">
									<span class="photo-text">Learn How To Motivate Yourself</span>
								</a>
								<a class="video js-fancybox" data-fancybox data-width="100%" data-height="100%" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk"
								style="background-image: url(http://via.placeholder.com/930x328);">
									<span class="photo-text">Learn How To Motivate Yourself</span>
								</a>
								<a class="video js-fancybox" data-fancybox data-width="100%" data-height="100%" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk"
								style="background-image: url(http://via.placeholder.com/930x328);">
									<span class="photo-text">Learn How To Motivate Yourself</span>
								</a>
								<a class="video js-fancybox" data-fancybox data-width="100%" data-height="100%" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk"
								style="background-image: url(http://via.placeholder.com/930x328);">
									<span class="photo-text">Learn How To Motivate Yourself</span>
								</a>
								<a class="video js-fancybox" data-fancybox data-width="100%" data-height="100%" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk"
								style="background-image: url(http://via.placeholder.com/930x328);">
									<span class="photo-text">Learn How To Motivate Yourself</span>
								</a>
								<a class="video js-fancybox" data-fancybox data-width="100%" data-height="100%" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk"
								style="background-image: url(http://via.placeholder.com/930x328);">
									<span class="photo-text">Learn How To Motivate Yourself</span>
								</a>
								<a class="video js-fancybox" data-fancybox data-width="100%" data-height="100%" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk"
								style="background-image: url(http://via.placeholder.com/930x328);">
									<span class="photo-text">Learn How To Motivate Yourself</span>
								</a>
							</div>
							<div class="slider__row slider__row_border js-slider-nav">
								<div class="photo-small photo-small_video" style="background-image: url(http://via.placeholder.com/133x78);"></div>
								<div class="photo-small photo-small_video" style="background-image: url(http://via.placeholder.com/133x78);"></div>
								<div class="photo-small photo-small_video" style="background-image: url(http://via.placeholder.com/133x78);"></div>
								<div class="photo-small photo-small_video" style="background-image: url(http://via.placeholder.com/133x78);"></div>
								<div class="photo-small photo-small_video" style="background-image: url(http://via.placeholder.com/133x78);"></div>
								<div class="photo-small photo-small_video" style="background-image: url(http://via.placeholder.com/133x78);"></div>
								<div class="photo-small photo-small_video" style="background-image: url(http://via.placeholder.com/133x78);"></div>
							</div>
						</div>
					</div>
					<div class="gallery-tabs__container" data-tabs-container="tab-4">
						<div class="gallery-tabs__slider scroll">
							<div class="scroll__row scroll__row_scroll-bar js-scroll-bar">
								<a href="http://via.placeholder.com/1750x850" class="photo photo_scroll" data-fancybox="gallery-photo" style="background-image: url(img/rectangle-1.jpg);">
									<span class="photo-text slide-text_width">Cooking For One</span>
								</a>
								<a href="http://via.placeholder.com/1750x850" class="photo photo_scroll" data-fancybox="gallery-photo" style="background-image: url(img/rectangle-2.jpg);">
									<span class="photo-text slide-text_width">Stocking Your Restaurant Kitchen Findina</span>
								</a>
								<a href="http://via.placeholder.com/1750x850" class="photo photo_scroll" data-fancybox="gallery-photo" style="background-image: url(img/rectangle-3.jpg);">
									<span class="photo-text slide-text_width">Southern Cooking Brings Soul To Food</span>
								</a>
								<a href="http://via.placeholder.com/1750x850" class="photo photo_scroll" data-fancybox="gallery-photo" style="background-image: url(img/rectangle-1.jpg);">
									<span class="photo-text slide-text_width">Cooking For One</span>
								</a>
								<a href="http://via.placeholder.com/1750x850" class="photo photo_scroll" data-fancybox="gallery-photo" style="background-image: url(img/rectangle-2.jpg);">
									<span class="photo-text slide-text_width">Stocking Your Restaurant Kitchen Findina</span>
								</a>
								<a href="http://via.placeholder.com/1750x850" class="photo photo_scroll" data-fancybox="gallery-photo" style="background-image: url(img/rectangle-3.jpg);">
									<span class="photo-text slide-text_width">Southern Cooking Brings Soul To Food</span>
								</a>
								<a href="http://via.placeholder.com/1750x850" class="photo photo_scroll" data-fancybox="gallery-photo" style="background-image: url(img/rectangle-1.jpg);">
									<span class="photo-text slide-text_width">Cooking For One</span>
								</a>
								<a href="http://via.placeholder.com/1750x850" class="photo photo_scroll" data-fancybox="gallery-photo" style="background-image: url(img/rectangle-3.jpg);">
									<span class="photo-text slide-text_width">Southern Cooking Brings Soul To Food</span>
								</a>
								<a href="http://via.placeholder.com/1750x850" class="photo photo_scroll" data-fancybox="gallery-photo" style="background-image: url(img/rectangle-1.jpg);">
									<span class="photo-text slide-text_width">Cooking For One</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end gallery-tabs -->
		</div>
	</div>
</div>
<!-- end gallery -->
{% endblock %}