---
title: Restaurant
---
{% extends "layouts/_layout.html" %}

{% block content %}

	<!-- begin restaurant -->
	<div class="restaurant">
		<div class="restaurant__in in">
			<div class="restaurant__article article">
				<div class="article__text">
					<div class="article__text-wrap">
						<h2 class="article__subtitle-md subtitle-md">Restaurant</h2>
						<p>
							If you are in the market for kitchenware, you may be considering making the purchase of designer kitchenware products. As you debate the purchase of designer kitchenware products, you may be wondering what are some of the pros and cons to making the purchase of these types of products in this day and age. As with so
						</p>
					</div>
				</div>
				<div class="article__img">
					<div class="row">
						<div class="col-6">
							<a href="#" class="article__item" style="background-image: url(http://via.placeholder.com/290x383);"></a>
						
							<!-- <a href="#" class="article__bg" style="background-image: url(http://via.placeholder.com/290x383);">
							</a> -->
						</div>
						<div class="col-6">
							<a href='#' class="article__item" style="background-image: url(http://via.placeholder.com/290x383);"></a>
						
							<!-- <a href="#" class="article__bg" style="background-image: url(http://via.placeholder.com/290x383);"></a> -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="restaurant__bg" style="background-image: url(http://via.placeholder.com/1900x300);">
			<div class="restaurant__in in">
				<h3 class="restaurant__title-lg title-lg">
					Restaurant
				</h3>
			</div>
		</div>
		<div class="restaurant__in in">
			<div class="restaurant__article article">
				<div class="article__img">
					<div class="row">
						<div class="col">
							<a href="#" class="article__bg" style="background-image: url(http://via.placeholder.com/600x383);">
							</a>
						</div>
					</div>
				</div>
				<div class="article__text">
					<div class="article__text-wrap">
						<h2 class="article__subtitle-md subtitle-md">Restaurant</h2>
						<p>
							If you are in the market for kitchenware, you may be considering making the purchase of designer kitchenware products. As you debate the purchase of designer kitchenware products, you may be wondering what are some of the pros and cons to making the purchase of these types of products in this day and age. As with so
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="restaurant__bg" style="background-image: url(http://via.placeholder.com/1900x300);">
			<div class="restaurant__in in">
				<h3 class="restaurant__title-lg title-lg">
					Our cuisine
				</h3>
			</div>
		</div>
		<div class="restaurant__in in">
			<div class="restaurant__article article">
				<div class="article__text">
					<div class="article__text-wrap">
						<h2 class="article__subtitle-md subtitle-md">Restaurant</h2>
						<p>
							If you are in the market for kitchenware, you may be considering making the purchase of designer kitchenware products. As you debate the purchase of designer kitchenware products, you may be wondering what are some of the pros and cons to making the purchase of these types of products in this day and age. As with so
						</p>
						<a href="#" class="article__link link">All Menu</a>
					</div>
				</div>
				<div class="article__img">
					<div class="row">
						<div class="col-6">
							<a href="#" class="article__bg" style="background-image: url(http://via.placeholder.com/290x180);">
							</a>
						</div>
						<div class="col-6">
							<a href="#" class="article__bg" style="background-image: url(http://via.placeholder.com/290x180);"></a>
						</div>
					</div>
					<div class="row">
						<div class="col-6">
							<a href="#" class="article__bg" style="background-image: url(http://via.placeholder.com/290x180);"></a>
						</div>
						
						<div class="col-6">
							<a href="#" class="article__bg" style="background-image: url(http://via.placeholder.com/290x180);"></a>
						</div>
					</div>
				</div>
			</div>	
		</div>	
	</div>
	<!-- end restaurant -->

{% endblock %}