<!-- begin footer -->
<footer class="footer">
	<div class="footer__inner inner">
		<div class="footer__top">
			<a href="#" class="footer__logo">
				<img src="./img/logo-footer.svg" alt="img">
			</a>
		</div>
		<div class="footer__soc">
			<!-- begin soc -->
			<ul class="soc">
				<li class="soc__item">
					<a href="#" class="soc__link"><img src="./img/tripadvisor.png" alt="img"></a>
				</li>
				<li class="soc__item">
					<a href="#" class="soc__link"><img src="./img/facebook.svg" alt="img"></a>
				</li>
				<li class="soc__item">
					<a href="#" class="soc__link"><img src="./img/instagram.png" alt="img"></a>
				</li>
				<li class="soc__item">
					<a href="#" class="soc__link"><img src="./img/youtoube.svg" alt="img"></a>
				</li>
			</ul>
			<!-- end soc -->
		</div>
		<div class="footer__contact">
			<ul class="footer__list">
				<li class="footer__item"><a href="tel:+74950000000" class="phone">+7 (495) 000-00-00</a></li>
				<li class="footer__item">москва, пресненская наб., строение 2</li>
				<li class="footer__item"><a class="mail" href="mailto:mail@cityvaice.ru">MAIL@CITYVOICE.RU</a></li>
			</ul>
		</div>
		<div class="footer__copy">&copy; CITY VOICE | ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</div>
	</div>
</footer>
<!-- end footer -->