.form-calendar
	position: absolute
	top: 100%
	left: 0
	z-index: 5
	visibility: hidden
	opacity: 0
	transition: visibility .3s, opacity .3s
	.form-control.is-open &
		opacity: 1
		visibility: visible
	+sm
		margin-top: -50%
.datepicker.datepicker-inline
	color: $white
	background-color: #595959 
.datepicker table tr td, .datepicker table tr th
	height: 24px
.datepicker.datepicker-inline table tr td
	padding: 5px 5px 2px 
	line-height: 1
.datepicker .datepicker-switch
	vertical-align: middle
.datepicker .next
	position: relative
	font-size: 0
	&:before
		position: absolute
		content: '▶'
		top: 50%
		left: 50%
		font-size: 12px
		margin: -10px 0 0 -4px
.datepicker .prev
	position: relative
	font-size: 0
	&:before
		position: absolute
		content: '◀'
		top: 50%
		left: 50%
		font-size: 12px
		margin: -10px 0 0 -7px
.datepicker .datepicker-switch:hover, .datepicker .next:hover, .datepicker .prev:hover, .datepicker table tr td span.focused, .datepicker table tr td span:hover, .datepicker tfoot tr th:hover
	background-color: rgba(0,0,0,.38)
.datepicker table tr td.day.focused, .datepicker table tr td.day:hover
	background-color: $blue 
.datepicker table tr td.active.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active.disabled:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active:active, .datepicker table tr td.active:hover, .datepicker table tr td.active:hover.active, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active:hover:active, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active[disabled]
	background: $blue 