.error
	background-color:  $lightGray
	padding: 209px 0 117px
	+md
		padding: 50px  0
	&__inner
		display: flex
		align-items: stretch
		+md
			flex-direction: column
	&__number
		font-size: 200px
		color: $white
		background-color: $black
		display: flex
		align-items: center
		padding: 0 28px 
		box-shadow: 0 29px 40px -12px rgba(0, 0, 0, 0.13)
		+md
			display: block
			text-align: center
		+sm
			font-size: 100px
	&__info
		// padding-left: 52px
		padding: 130px 138px 130px 52px
		background: $white
		+md
			padding: 52px
			text-align: center
		+sm
			padding: 20px
	&__title-sm
		margin-bottom: 21px
	&__descr
		p
			font-size: 16px
			font-family: $Futuras 
			line-height: 1.88
			color: $gray
			letter-spacing: normal
			+sm
				font-size: 14px