.event
	background-color: $lightGray
	padding-bottom: 40px
	+sm
		padding-bottom: 0
	&_white
		background-color: $white
	&__inner
		max-width: 1160px
		padding: 0  30px
		margin: 0 auto
		+sm
			padding: 0 15px
	&__list
		margin-top: -30px
		+sm
			margin-top: 20px
	&__row
		display: flex
		flex-wrap: wrap
		position: relative
		z-index: 10
		&:not(:last-child)
			margin-bottom: 30px
			+md
				margin-bottom: 0
	&__item
		max-width: 23.7%
		display: flex
		justify-content: space-between
		flex-direction: column
		flex: 1 1 23.7%
		background-color: $white
		border-radius: 5px
		+hover
			.event__img
				transform: scale(1.2)
		&:not(:first-child)
			margin-left: 1.7%
			+md
				margin-left: 5%
		&:nth-child(odd)
			+md
				margin-left: 0
		+md
			max-width: 47.4%
			flex: 1 1 47.4%
			margin-bottom: 40px
		+sm
			margin-bottom: 20px
	&__img
		background-size: cover
		background-repeat: no-repeat
		background-position: 50% 50%
		padding-bottom: 88.3%
		transition: transform .6s ease-in-out
		+sm
			padding-bottom: 84.4% 
	&__img-wrap
		border-top-left-radius: 5px
		border-top-right-radius: 5px
		overflow: hidden
	&__info
		padding: 0 20px
		color: $gray
		line-height: 1.1
		+sm
			padding: 0 10px 
	&__day
		margin-bottom: 10px
		text-transform: uppercase
	&__title-sm
		padding: 20px 0
		line-height: 1.5
		+sm
			padding: 10px 0
	&__date
		padding-bottom: 28px 
		font-size: 20px
		font-family: $Futuras 
		+sm
			font-size: 13px
			padding-bottom: 10px
	&__btn
		margin-top: 40px
		text-align: center
		+md
			margin-top: 0
		+sm
			display: none 
	&__article
		p:not(:first-child)
			margin-top: 30px
			+sm
				margin-top: 15px
	&__hero
		text-align: center
	&__image
		position: relative
		z-index: 1
		margin: -215px auto 0
		width: 500px
		height: 440px
		background-position: 50% 50% 
		background-size: cover
		background-repeat: no-repeat
		border: 14px solid $white
		border-bottom: 0 
		+sm
			margin-top: -110px
			width: 250px
			height: 220px
	&__title
		margin-top: 30px
	&__date-list
		margin-top: 5px
	&__date-item
		vertical-align: middle
		display: inline-block
		&_day
			text-transform: uppercase
		&:not(:first-child)
			margin-left: 20px
	&__footer
		margin-top: 30px
		text-align: center
.prev-block
	margin-top: 20px
	padding-bottom: 20px
	text-align: right
.btn-prev
	font-family: $Futuras
	font-size: 24px
	color: #6AA2FF
	letter-spacing: 0
	text-align: right
	line-height: 1.5
	vertical-align: top
	border-bottom: 1px solid transparent 
	transition: border-color .3s
	display: inline-block
	+hover
		border-color: currentColor 
	+sm
		font-size: 16px
