.restaurant
	padding-bottom: 73px
	+sm
		padding-bottom: 27px
	&__article
		margin-top: 73px
		+sm
			margin-top: 27px
	&__top
		padding: 314px 0 38px
		background-size: cover
		background-position: 50% 50%
		background-repeat: no-repeat
	&__main
		padding-bottom: 75px
		+sm
			padding-bottom: 27px
	&__title-sm
		text-align: center
	&__bg
		margin-top: 73px 
		padding: 245px 0
		background-size: cover
		background-position: 50% 50%
		background-repeat: no-repeat
		+sm
			padding: 90px 0
			margin-top: 27px 
	&__title-lg
		text-align: center