.icon-arrow-bottom {
  width: 1.8em;
  height: 1em;
  fill: #6AA2FF;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-no-voise {
  width: 0.92em;
  height: 1em;
  fill: #FFF;
}
.icon-play {
  width: 0.84em;
  height: 1em;
  fill: #FFF;
}
.icon-remove {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-voise {
  width: 1.25em;
  height: 1em;
  fill: #FFF;
}
